RABBITMQ_USER=<seu-user>
RABBITMQ_PASSWORD=<sua-senha>

DB_USERNAME=<seu-user-banco-de-dados>
DB_PASSWORD=<sua-senha-banco-de-dados>

MERCADO_PAGO_API_KEY=<sua-api-key>
MERCADO_PAGO_TOKEN=<seu-token-mercado-pago>
